.vs/
UTN.MatematicaSuperior/.vs/
UTN.MatematicaSuperior/UTN.MatematicaSuperior.Consola/bin/
UTN.MatematicaSuperior/UTN.MatematicaSuperior.Consola/obj/
UTN.MatematicaSuperior/UTN.MatematicaSuperior.Negocio/bin/
UTN.MatematicaSuperior/UTN.MatematicaSuperior.Negocio/obj/
UTN.MatematicaSuperior/UTN.MatematicaSuperior.Pruebas/bin/
UTN.MatematicaSuperior/UTN.MatematicaSuperior.Pruebas/obj/