<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extreme.Numerics" version="7.0.10" targetFramework="net461" />
  <package id="Fractions" version="4.0.1" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
</packages>